@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Flex:opsz@8..144&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}
.fondoindex {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    height: max-content;
}

.menus {
    font-family:"Playfair Display",
        serif;
    color: #8b863a;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* FOOTER DE TODAS LAS PAGINAS*/
.pie-pagina {
    width: 100%;
    border-top: solid #2d3436 1px;
}

.pie-pagina .grupo2 {
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: #8b863a;
}

.container-fluid .row {
    padding: 3% 0 0 5%;
}

.container-fluid .row .box {
    font-family: "Playfair Display", serif;
    color: #8b863a;
    margin-bottom: 25px;
}

.container-fluid .row .box i h3 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

.container-fluid .row .box article {
    padding-top: 20px;
    display: flex;
}

.container-fluid .row .box article i {
    align-items: center;
    display: flex;
    gap: 10px;
}

.container-fluid .row .box .red-social {
    column-gap: 35px;
}

.container-fluid .row .box .red-social a {
    display: inline-block;
    color: #8b863a;
    background-color: #2d3436;
    line-height: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    transition: all 1.5s ease;
    column-gap: 80px;
}

.container-fluid .row .box .red-social a:hover {
    color: #000000;
    background-color: #8b863a;
}
/*INDEX*/
#headerindex {
    background-image: url(img/pizza-fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px black;
    height: 100%;
}

.fondoindex {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    height: max-content;
}

.titulo-index {
    height: 33%;
    width: 100%;
    font-family: "Playfair Display", serif;
    color: #8b863a;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 70px;
    animation: fadeIn;
    animation-duration: 4s;
}

.subtitulo-index {
    font-family: "Playfair Display", serif;
    color: #8b863a;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 25px;
    animation: fadeIn;
    animation-duration: 4s;
}

.barramenu {
    width: 50%;
    height: 27%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.barramenu span button {
    font-family: "Playfair Display", serif;
    color: #8b863a;
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
    animation: fadeIn;
    animation-duration: 4s;
    padding-top: 20%;
}

.barramenu span a {
    font-family: "Playfair Display", serif;
    color: #8b863a;
    text-decoration: none;
    font-size: 30px;
    transition: 1s;
    animation: fadeIn;
    animation-duration: 4s;
}

.barramenu span a:hover {
    padding: 5px 10px;
    background-color: #8b863a;
    color: black;
    border-radius: 15px;
}

.flecha {
    width: 100%;
    padding-top: 14%;
    display: flex;
    justify-content: center;
    animation: flechaabajo 1s ease infinite;
}

.flecha i {
    font-size: 30px;
    color: #8b863a;
}

@keyframes flechaabajo {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }

    0% {
        transform: translateY(0);
    }
}

.galeriasmart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px 14px;
    grid-auto-flow: row;
    grid-template-areas: "foto1 foto1 foto2""foto3 foto4 foto5""foto6 foto4 foto7";
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
}

.foto1 {
    grid-area: foto1;
    background-image: url(img/galeria11.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    height: 350px;
    padding: 0 25px 0 25px;
    box-shadow: 0px 15px 20px #000000;
}

.foto2 {
    grid-area: foto2;
    background-image: url(img/galeria1.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    height: 350px;
    padding: 0 25px 0 25px;
    box-shadow: 0px 15px 20px #000000;
}

.foto3 {
    grid-area: foto3;
    background-image: url(img/galeria2.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    height: 350px;
    padding: 0 25px 0 25px;
    box-shadow: 0px 15px 20px #000000;
}

.foto4 {
    grid-area: foto4;
    background-image: url(img/galeria12.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    height: 715px;
    padding: 0 25px 0 25px;
    box-shadow: 0px 15px 20px #000000;
}

.foto5 {
    grid-area: foto5;
    background-image: url(img/galeria4.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    height: 350px;
    padding: 0 25px 0 25px;
    box-shadow: 0px 15px 20px #000000;
}

.foto6 {
    grid-area: foto6;
    background-image: url(img/galeria3.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    height: 350px;
    padding: 0 25px 0 25px;
    box-shadow: 0px 15px 20px #000000;
}

.foto7 {
    grid-area: foto7;
    background-image: url(img/galeria5.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    height: 350px;
    padding: 0 25px 0 25px;
    box-shadow: 0px 15px 20px #000000;
}

/* barra */
.barramenu-menu {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 35px;
    padding-bottom: 20px;

   
}
 .barramenu-menu span a {
    font-family: 'Playfair Display',
        serif;
    color: #8b863a;
    text-decoration: none;
    font-size: 30px;
    transition: all 1s ease;
    column-gap: 35px;
    animation: fadeIn;
    animation-duration: 4s;}

.barramenu-menu span a:hover {
    padding: 5px 10px;
    background-color: #cec877;
    color: black;
    border-radius: 15px;
}
.barra {
    display: grid;
    background-color: black;
    width: 100%;



}

.barra .titulos {
        display: grid;
        text-align: start;
    
 }
.titulo-menu {

    padding: 20px 0 0 20px;
    font-family: 'Playfair Display',
        serif;
    color: #8b863a;
    font-size: 30px;
    animation: fadeIn;
    animation-duration: 4s;


}

.subtitulo-menu {
    font-family:'Playfair Display',
        serif;
    color: #8b863a;
    padding: 0 0 0 30px;
    font-size: 15px;
    width: 100%;
    animation: fadeIn;
    animation-duration: 4s;


}
#milista img {
    height: 60%;
    width: 100%;
    
}

#milista{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 10% 0 10%;
}

.card{
font-family: 'Playfair Display',
        serif;
    color: #8b863a;
    background-color: black;
    height: 600px;
    width: 300px;
    display: flex;
}

.card-img-top{
    height: 100%;
    width: 100%;
    
}
.card-body div{
height:50%;
    width: 100%;
display: flex;
    justify-content: center;
    align-items: center;}

.btn-success{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
   
}
.barramenu-menu i:hover{
    color: black ;
    
    
    
}

.barramenu-menu button{
    font-family: 'Playfair Display',
            serif;
        color: #8b863a;
        text-decoration: none;
        font-size: 30px;
        height: 50px;
        border: 0px;
        background-color: #000000;
}

/*MENUS*/
.menus {
    font-family: "Playfair Display", serif;
    color: #8b863a;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menupizzaspanes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0 50px 0px;
    width: 100%;
}

.menupizzaspanes .menupizzas {
    width: 350px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 15px 20px #000000;
    transition: all 1s;
}

.menupizzaspanes .menupizzas:hover {
    transform: scale(1.1, 1.1);
}

.menupizzaspanes .menupizzas .capa {
    position: absolute;
    width: 90px;
    height: 50px;
    margin-top: 100%;
    margin-left: 38%;
    font-family: "Playfair Display", serif;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 0px 15px 40px #000000;
    background-color: #000000;
    color: #8b863a;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.menupizzaspanes .menupizzas img {
    width: 100%;
    height: 100%;
}

.menupizzaspanes .menupanes {
    width: 350px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 15px 20px #000000;
    transition: all 1s;
}

.menupizzaspanes .menupanes:hover {
    transform: scale(1.1, 1.1);
}

.menupizzaspanes .menupanes .capa {
    position: absolute;
    width: 90px;
    height: 50px;
    margin-top: 100%;
    margin-left: 38%;
    font-family: "Playfair Display", serif;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 0px 15px 40px #000000;
    background-color: #000000;
    color: #8b863a;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.menupizzaspanes .menupanes img {
    width: 100%;
    height: 100%;
}